.story-ctn {
    min-width: 40vw;
    background-color: #fff;
    color: black;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

li {
    list-style-image: url("assets/icon.png") !important;
    list-style-position: inside;
    /* background-size: contain; */

}